/ist/.vs/ist/v17/Browse.VC.opendb
/second/.vs/second/v17/Browse.VC.opendb
/1week_project/.vs/1week_project/v17/Browse.VC.opendb
/2week_project/.vs/2week_project/v17/Browse.VC.opendb
/3week_test/.vs/3week_test/v17/Browse.VC.opendb
/5week_project/.vs/5week_project/v17/Browse.VC.opendb
/6week_project/.vs/6week_project/v17/Browse.VC.opendb
/testStruct/.vs/testStruct/v17/Browse.VC.opendb