/ist/.vs/ist/v17/Browse.VC.opendb
/second/.vs/second/v17/Browse.VC.opendb
/1week_project/.vs/1week_project/v17/Browse.VC.opendb
/2week_project/.vs/2week_project/v17/Browse.VC.opendb
/3week_test/.vs/3week_test/v17/Browse.VC.opendb